{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">choose a stock</label>
            <select class="form-group" aria-label="Default select example" name="symbol">
               {% for symbol in symbols%}
               <option value="{{symbol['symbol']}}">{{symbol['symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares to sell" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
